/* You can add global styles to this file, and also import other style files */
@import "src/app/shared/variables";
nav,
footer {
	background-color: $green;
}

/* https://stackoverflow.com/a/52522285 */
router-outlet + * {
	flex-grow: 1;
}

.btn {
	text-transform: uppercase;
}

.blood {
	background-color: $blood;
}

.blood-text {
	color: $blood;
}
