/*header{

}*/

body{
	background: #2c2a2b;
}

header a{
	/*display: block;
	width: fit-content;*/
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

#regions{
	list-style: none;
	margin: auto;
	width: 70%;
	display: flex;
	justify-content: center;
}

#regions li{
	float:left;
	padding: 10px;
	text-transform: capitalize;
	background-color: lightgreen;
	border-radius: 5px;
	margin: 4px;
}

#regions li a{
	text-decoration: none;
}

#pokedex-container{
	/*float:left;*/
	display: flex;
	flex-wrap: wrap;
	/*justify-content: center;*/
	position: relative;
	width: 70%;
	margin: auto;
}

#region-pokemon{
	margin: 4px;
	flex: 0 1 calc(20% - 8px);
	background-color: lightgreen;
	border-radius: 5px;
	height: calc(20% - 8px);
	width: 142px;
	text-align: center;
	/*float: left;*/
}

#region-pokemon img{
	margin: auto;
}

#region-pokemon p{
	margin-top: 0px;
}

#lightbox {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

/* POKEMON */
#pokedex-pokemon-container{
	display: none;
	position: fixed;
	z-index: 20;
	top: 50%;
	left: 50%;
	text-align:center;
	text-transform: capitalize;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#pokedex-pokemon-container #navigator{
	background-color: lightgrey;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 50px;
	/*width: 700px;*/
}

#pokedex-pokemon-container #navigator a{
	text-decoration: none;
}

#pokedex-pokemon-container #navigator #previous-pokemon{
	float: left;
	display: flex;
	align-items: center;
}

#pokedex-pokemon-container #navigator #next-pokemon{
	float: right;
	display: flex;
	align-items: center;
}

#pokedex-pokemon-container #navigator img{
	height: 50px;
}

#pokedex-pokemon-container #pokemon-details{
	background-color: green;
	border-radius: 5px;
	/*height: 150px;*/
	min-width: 500px;
	padding: 3px;
	display: flex;
}

#pokemon-details #pokemon-details-blok{
	background: lightgreen;
	margin: 0.5px;
	border-radius: 5px;
	float: left;
	padding: 5px;
}

#pokemon-details #pokemon-details-item{
	background: white;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

#pokemon-details #pokemon-details-item img{
	min-height: 96px;
	min-width: 96px;
}

#pokemon-details .pokémon-stats{
	display: flex;
}

#pokemon-details #pokemon-details-Stats{
	border-radius: 5px;
	margin: 3px;
	padding: 15px;
	/*float: left;*/
}

#pokemon-details #hidden-abilty{
	color: grey;
	font-style: italic;
	font-size: small;
}

#pokemon-details .pokémon-type{
	border-radius: 5px;
	color: white;
}

/* STATS */
#pokemon-details .hp{
	background: red;
}

#pokemon-details .attack{
	background: orange;
}

#pokemon-details .defense{
	background: yellow;
}

#pokemon-details .special-attack{
	background: dodgerblue;
}

#pokemon-details .special-defense{
	background: lightgreen;
}

#pokemon-details .speed{
	background: magenta;
}

/* TYPES 
https://pokemon.fandom.com/wiki/Pok%C3%A9mon_types
https://github.com/ChrisStayte/ReactDex/blob/master/src/components/pokemon/Pokemon.js
*/
#pokemon-details .bug{
	background: #A8B820;
}

#pokemon-details .dragon{
	background: #7038F8;
}

#pokemon-details .ice{
	background: #98D8D8;
}

#pokemon-details .fighting{
	background: #C03028;
}

#pokemon-details .fire{
	background: #F08030;
}

#pokemon-details .flying{
	background: #A890F0;
}

#pokemon-details .grass{
	background: #78C850;
}

#pokemon-details .ghost{
	background: #705898;
}

#pokemon-details .ground{
	background: #E0C068;
}

#pokemon-details .electric{
	background: #F8D030;
}

#pokemon-details .normal{
	background: #A8A878;
}

#pokemon-details .poison{
	background: #A040A0;
}

#pokemon-details .psychic{
	background: #F85888;
}

#pokemon-details .rock{
	background: #B8A038;
}

#pokemon-details .water{
	background: #6890F0;
}

#pokemon-details .dark, #pokemon-details .shadow{
	background: #705848;
}

#pokemon-details .steel{
	background: #B8B8D0;
}

#pokemon-details .fairy{
	background: #F0B6BC;
}