<div class="container-md">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="center-align">
				<div>
					<h1 class="blood-text">404 Page not found</h1>
					Oops! it seems like we drunk to much blood.
					<br />
					oh no! it seems like the flowers died.. go back to
					<a routerLink="/">HOME</a> to bring them back to life!
					<br />
					where we still have alive ones!
				</div>
			</div>
			<img
				src="https://i.pinimg.com/originals/59/9b/4d/599b4d4d7284c59350eb5d31e70c8bea.png"
			/>
		</div>
	</div>
</div>
