{
    "type": "",
    "host": "",
    "port": 3306,
    "username": "",
    "password": "",
    "database": "",
    "entities": "",
    "migrations": ["data/migrations/*{.ts,.js}"],
    "cli": {
        "migrationsDir": "data/migrations"
    },
    "synchronize": false
  }