<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand h1" routerLink="/" *ngIf="true"
		><img class="brand" src="assets/svg/preenhub.svg" /> Blood Flower's
		flowershop</a
	>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-label="Toggle navigation"
		aria-expanded="false"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLinkActive="active"
					routerLink="/"
					[routerLinkActiveOptions]="{ exact: true }"
					>Home</a
				>
			</li>
			<li routerLinkActive="active" class="nav-item">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/flowers"
					>Flowers</a
				>
			</li>
			<li routerLinkActive="active" class="nav-item">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/about-us"
					>About us</a
				>
			</li>
			<li routerLinkActive="active" class="nav-item">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/blog"
					>Blog</a
				>
			</li>
			<li routerLinkActive="active" class="nav-item">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/contact"
					>Contact</a
				>
			</li>
			<li class="nav-item" *ngIf="isAdmin()">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/admin"
					routerLinkActive="active"
					[routerLinkActiveOptions]="{ exact: true }"
					>Admin flower overview</a
				>
			</li>
			<li routerLinkActive="active" class="nav-item" *ngIf="isAdmin()">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/admin/seeding"
					>Admin add flower</a
				>
			</li>

			<li class="nav-item">
				<div class="username">{{ getUsername() }}</div>
			</li>
			<li routerLinkActive="active" class="nav-item">
				<a
					*ngIf="!isLoggedIn()"
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/login"
					>Login</a
				>
			</li>
			<li class="nav-item" *ngIf="isLoggedIn()">
				<a
					data-toggle="collapse"
					data-target="#navbarNav"
					class="nav-link"
					routerLink="/"
					(click)="logout()"
					>Logout</a
				>
			</li>

			<!--<li class="nav-item">
				<a class="nav-link" href="#flower" data-toggle="collapse"> Admin </a>
				<ul id="flower" class="collapse navbar-nav">
					<li class="nav-item">
						<a
							data-toggle="collapse"
							data-target="#navbarNav"
							class="nav-link"
							routerLink="/admin"
							>Action</a
						>
					</li>
				</ul>
			</li>-->
		</ul>
	</div>
</nav>
