<div class="container-fluid">
	<p>about-us works!</p>
	<p>
		I, Blood Flower, started this shop alone in the year 1879. how you ask?
		well.. i am a vampony
	</p>
	<p>
		, but ever since i met Bloodshot i do this with him and later on he
		became my boyfriend
	</p>
	<p>
		and he is still my boyfriend from this day on, yes i know.. he have not
		asked me to merrie him just yet! but we are going to have a baby!
	</p>
	<p>"Blood Flower's flower shop. pay with bits or your blood"</p>
	<p>
		Blood Flower: i don't mind what gender you are if you are willing to pay
		with blood, but Blootshot is more the type to bite mares only.
	</p>
	<p>Bloodshot: i am more the type for mares blood.</p>
</div>
